@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap");

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

:root {
  /* color */

  --black: #000;
  --white: #fff;
  --light-blue: #add8e6;
  --grey: #808080;

  /*  font size */ /* margin */

  --main-hix: 3.6rem;
  --main-hviii: 3.4rem;
  --main-hvii: 3.2rem;
  --main-hvi: 3rem;
  --main-hv: 2.8rem;
  --main-hiv: 2.6rem;
  --main-hiii: 2.4rem;
  --main-hii: 2.2rem;
  --main-hi: 2rem;
  --main-hix: 1.8rem;
  --main-hxiii: 1.6rem;
  --main-hxii: 1.4rem;
  --sub-hx: 1.2rem;
  --sub-hix: 1rem;
  --sub-hviii: 0.9rem;
  --sub-hvii: 0.8rem;
  --sub-hvi: 0.7rem;
  --sub-hv: 0.6rem;
  --sub-hiv: 0.5rem;
  --sub-hiii: 0.4rem;
  --sub-hii: 0.3rem;
  --sub-hi: 0.2rem;
  


  
  /* font family */
}



/* reset */

ul{
  list-style: none;
}



.bor{
  border: 2px solid pink;
}
.width-50{
  width: 50%;
  max-width: 600px;
}
li{
  border: 2px solid green;
}
.p{
  font-size: var(--sub-hvii);
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  justify-content: space-between;
}




/* &:after{
  content: "";
  transition-property: transform;
  transition-timing-function: ease-in;
  transition-duration: .5s;
  transition-delay: inherit ;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
} */


.container{
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}
.property-container li {
  width: fit-content;
}
ul {
  margin: 0;
  padding: 0;
}


.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* navbar */

.property-facts{
  width: 6rem;
}

nav{
  position: absolute;
 width: 100%;
  margin: 0 auto;
  max-width: inherit;
}
.circle {
  width: 60px;
  height: 60px;
  border-radius: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border: 1px transparent;
  color: black;
  background-color: aquamarine;
  z-index: 8;
  /* animation: move 4s linear infinite alternate; */
}

.property-bg {
  background-color: var(--black);
}

.others {
  position: absolute;
  margin: auto auto;
  top: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
  min-width: 60%;
  left: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .down-arrow {
  display: flex;
  justify-content: flex-start;
} */

.down-arrow {
  margin-right: auto;
  font-size: 1.4rem;
}

.hidden-text {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 6;
  margin: auto auto;
  top: 0;
  bottom: 0;
  height: fit-content;
  width: fit-content;
}
.black-contain {
  position: relative;
  background-color: pink;
  display: flex;
  justify-content: end;
  width: fit-content;
  min-width: fit-content;
  animation-name: room;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  max-width: 400px;
  border-radius: 200px;

  /* when the width of the .black-contain has reached a width of greater than 300px, show text */
}

/* .black-contain.animate {
  animation-name: roll;
  animation-timing-function: ease-in-out;
  animation-duration: 1s;
  animation-fill-mode: forwards;
} */
/* animation-timeline: scroll(root);
  animation: scrolling linear; */
/* 
.text {
 for changing it to the right , black-contain = float:right;  transform: scaleX(-1);
  transform: scaleX(-1);
} */

@keyframes roll {
  0% {
    width: 2%;
  }
  10% {
    width: 4%;
  }
  20% {
    width: 5%;
  }
  30% {
    width: 10%;
  }
  40% {
    width: 15%;
  }
  50% {
    width: 20%;
  }

  60% {
    width: 25%;
  }
  70% {
    width: 30%;
  }
  80% {
    width: 40%;
  }
  90% {
    width: 45%;
  }
  100% {
    width: 50%;
  }
}

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
}

.hero-imgcont {
  /* max-width: 500px; */
  width: 50%;
  border: 3px solid red;
  height: 100%;
  border-radius: 20px;
}
.hero-textcont {
  /* max-width: 500px; */
  width: 50%;
  border: 2px solid pink;
  height: 100%;
  align-content: center;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: capitalize;
}

main {
  display: flex;
  height: 100vh;
  align-items: center;

  border: 3px solid green;
}
/* 
 the circle aligns right no matter what


*/

/* 

 i can style the contianer to increase width to 300px when the scroll happens and the text to display:block;


 data-aos-duration="2500" 
*/

/* .element[data-aos="fade-up"].aos-animate {
} */

@keyframes scrolling {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}

.fade-in {
  background: white;
  height: 300px;
  width: 300px;
  margin-bottom: 100px;
  opacity: 0;
  transform: translateY(40%);
  transition: all 2s ease-out;
}

.active {
  opacity: 4;
  transform: translateY(0);
}

body {
  background: #ffff;
  display: flex;
  font-family: "League Spartan", sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scrolling-text-pg {
  position: relative;
  /* width: 100vw; */
  border-radius: 20px;
  /* height: 100vh; */
}

.text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: var(--main-hiii);
  margin: auto auto;
  height: fit-content;
  color: black;
  background-color: white;
  width: fit-content;
}






























.ball {
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
  animation: roll 2s linear infinite, move 4s linear infinite alternate;
}

/* @keyframes roll {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */

@keyframes move {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
